:root {
    --primary-rgb: 39, 55, 78;
    --primary: #27374d;
    --secondary: #526d82;
    --tertiary: #9DB2BF;
    --background: #dee7edcc;
}

*,
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
.swiper {
    width: 950px;
}
.swiper-button-next, .swiper-button-prev {
    opacity: 0.7 !important;
    color: var(--primary) !important;
    transition: all 0.3s ease;
}
.swiper-button-next:hover, .swiper-button-prev:hover {
    opacity: 1 !important;
    color: var(--primary) !important;
}
.swiper-pagination-bullet {
    height: 7px !important;
    width: 26px !important;
    border-radius: 25px !important;
    background: var(--primary) !important;
}
.container {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.col-lg-8,
.col-lg-4 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding: 0 15px;
}

.text-center {
    text-align: center;
}

table {
    width: 100%;
    max-width: 100%;
    background-color: transparent;
    border-collapse: collapse;
}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    text-align: center;
    padding: 1rem;
    border: 1px solid var(--background);
}

.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0;
    background-color: var(--background);
    align-items: center;
    justify-content: space-between;
    /*position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;*/
}

.navbar>.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .navbar-logo {
    max-width: 52px;
}

.navbar .navbar-nav a {
    color: rgba(var(--primary-rgb), 0.7);
    display: inline-block;
    font-size: 0.8rem;
    font-weight: 500;
    margin: 0 8px;
    text-decoration: none;
    text-transform: uppercase;
    transition: color 0.1s ease;
}

.navbar .navbar-nav a:hover {
    color: var(--primary);
}

.navbar .navbar-ekstra {
    display: none;
}

.home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 7%;
}

.home .home-text {
    text-transform: uppercase;
    font-size: 40px;
    display: inline-block;
    margin: 102px 0px 0 147px;
}

.home .home-img {
    width: 431px;
    height: 431px;
    display: inline-block;
    margin: 20px 50px 0px 0px;
}

.calendar,
.modul {
    position: relative;
    background-color: var(--background);
    padding: 15rem 0;
}

.calendar .title-head,
.modul .title-head {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;
}

.calendar thead {
    background-color: var(--primary);
    color: #fff;
}

.calendar tbody {
    background-color: var(--secondary);
    color: #fff;
}

.modul .wrapper {
    position: relative;
    display: flex;
    width: 100%;
    padding-bottom: 3rem;
    align-items: center;
}
.modul .title-head h4 {
    text-transform: uppercase;
}

.modul .title-head span {
    max-width: max-content;
    border-top: 4px solid #000;
    margin: -1rem auto 0;
}

.modul .card {
    max-width: 300px;
    position: relative;
    background: #fff;
    border-radius: 20px;
    overflow: hidden;
}

.modul .card-header img {
    width: 100%;
    aspect-ratio: 4/3;
    object-fit: cover;
}

.modul .card-body {
    padding: 2rem;
    width: 100%;
    position: relative;
    margin-top: -2rem;
    z-index: 2;
    background-color: var(--secondary);
    border-radius: 24px 24px 0 0;
}

.modul .card-body h4 {
    color: #fff;
    font-size: 1.2em;
    margin-bottom: 1rem;
}

.modul .card-body p {
    font-size: .8em;
    color: #fff;
    line-height: 1.5;
    margin-bottom: 2rem;
}

.modul .card-body a {
    padding: 1rem;
    display: inline-block;
    text-decoration: none;
    font-size: .7em;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    background: var(--primary);
    border-radius: 10px;
}

/* Media Querry */

/* Laptop */
@media screen and (min-width: 1200px) {

    /* html {
        font-size: 80%;
    } */
    .container {
        max-width: 1170px;
    }

    .calendar .title-head h4,
    .modul .title-head h4 {
        font-size: 1.5em;
        font-weight: 700;
    }

    .calendar .title-head span,
    .modul .title-head span {
        font-weight: 500;
        font-size: 1.2em;
        text-transform: capitalize;
    }
}

@media screen and (min-width: 992px) {
    .col-lg-8 {
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }

    .col-lg-4 {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
}

/*tablet mode */
@media screen and (max-width: 768px) {
    html {
        font-size: 62.5%;
    }

    .navbar .navbar-ekstra {
        display: inline-block;
    }

    .navbar .navbar-nav {
        position: absolute;
        text-align: center;
        top: 58px;
        left: -100%;
        right: 0;
        width: 100vw;
        height: 100vh;
        background-color: var(--background);
    }

    .navbar .navbar-nav a {
        display: block;
        margin: 15px 0;
    }

    .navbar .navbar-nav.active {
        left: 0;
    }
}

/* Mobilr phone*/
@media screen and (max-width: 450px) {
    html {
        font-size: 55%;
    }
}